html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.badge,
.custom-select,
.form-control {
    transition: none;
}

.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.card-body {
    /* Prevent Chrome font boosting */
    max-height: 123456px;
}

.text-orange {
    color: #fd7e14;
}

@media(max-width: 400px) {
    .bond-finder-main-card {
        font-size: calc(13px + 3 / 80 * (100vw - 320px));
    }
}

table a:hover {
    text-decoration: none;
}

table tr.bond-finder-separator {
    border-top: solid 1px #ced4da;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-ms-clear {
    display: none;
}

.bond-finder-collapse-icon {
    /* https://github.com/twbs/bootstrap/blob/v4.3.1/scss/_variables.scss#L254 */
    transition: transform 0.35s ease;
    transform: rotate(180deg);
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    position: absolute;
    right: 0.75rem;
    margin-top: 0.0625rem;
    fill: #343a40;
}

.card-header.collapsed .bond-finder-collapse-icon {
    transform: rotate(0deg);
}

.bond-finder-ir-badge {
    text-align: left;
    width: 2.5em;
}

.bond-finder-ir-badge::before {
    color: #fff;
    font-size: 75%;
    position: absolute;
    width: 3.3333em;
    margin-top: -0.3333em;
    margin-left: -0.8em;
    line-height: 2;
    text-align: center;
    content: "ПИР";
}

.bond-finder-legend-star {
    text-align: right;
    display: inline-block;
    width: 1em;
    white-space: nowrap;
}

#bond-finder-loading {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    top: 40%;
    color: #6c757d;
    animation: bond-finder-anim-loading 1.4s linear infinite;
}

#bond-finder-loading-glyph {
    animation: bond-finder-anim-loading-glyph 1.4s ease-in-out infinite;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0px;
    stroke: currentColor;
}

@keyframes bond-finder-anim-loading {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bond-finder-anim-loading-glyph {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0px;
    }
    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }
    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -120px;
    }
}

#bond-finder-inset-top,
#bond-finder-inset-bottom {
    height: 0;
}

#bond-finder-overlay-top,
#bond-finder-overlay-bottom {
    position :fixed;
    width: 100%;
    height: 0;
    z-index: 12345;
    background-color: #343A40;
    transition: background-color 0.3s ease-in-out;
}

#bond-finder-overlay-top {
    top: 0;
}

#bond-finder-overlay-bottom {
    bottom: 0;
}
