.night body {
    color: white;
}

.night a {
    color: #99c0ff;
}

.night table {
    color: white;
}

.night .table-hover tbody tr:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.075);
}

.night .text-white {
    color: white !important;
}

.night .text-success {
    color: #89d685 !important;
}

.night .text-danger {
    color: #ff7e81 !important;
}

.night .bg-secondary {
    background-color: #343a40 !important;
}

.night .badge-success {
    color: #343a40;
    background-color: #89d685;
}

.night .badge-warning {
    color: #343a40;
    background-color: #ecb156;
}

.night .badge-danger {
    color: #343a40;
    background-color: #ff7e81;
}

.night .badge-dark {
    color: #343a40;
    background-color: #919ba2;
}

.night .alert-danger {
    color: #ff7e81;
    background-color: #483f45;
    border-color: #8e4e53;
}

.night .alert-danger .alert-link {
    color: #ff7e81;
}

.night .close {
    color: #ff7e81;
    text-shadow: none;
}

.night .card {
    background-color: #343a40;
    border-color: rgba(255, 255, 255, 0.25);
}

.night .form-control,
.night .custom-select {
    color: white;
    background-color: #343a40;
    border-color: rgba(255, 255, 255, 0.25);
}

.night .form-control:focus,
.night .custom-select:focus {
    border-color: rgba(255, 255, 255, 0.35);
}

.night .form-control:focus-visible,
.night .custom-select:focus-visible {
    text-shadow: none;
}

.night .custom-select {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'><path fill='%23919ba2' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>");
}

.night .btn-outline-primary {
    color: #99c0ff;
    border-color: #99c0ff;
}

.night .btn-outline-primary:hover,
.night .btn-outline-primary:focus,
.night .btn-outline-primary:not(:disabled):active {
    color: #343a40;
    background-color: #99c0ff;
    border-color: #99c0ff;
}

.night .btn-outline-primary:focus,
.night .btn-outline-primary:not(:disabled):active:focus,
.night .btn-secondary:focus,
.night .btn-secondary:not(:disabled):active:focus {
    box-shadow: none;
}

.night .bond-finder-collapse-icon {
    fill: #919ba2;
}

.night .bond-finder-ir-badge::before {
    color: #343a40;
}

.night.scrolled #bond-finder-overlay-top {
    background-color: #292e33;
}

.night #bond-finder-overlay-bottom {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
}
